# Pandas Series

In [1]:
import pandas as pd

#### Create Series - 1

In [2]:
lst = [10, 22, 24, 25]

pd.Series(lst)

0    10
1    22
2    24
3    25
dtype: int64

In [3]:
lst_bool = [True, True, False, True]

pd.Series(lst_bool)

0     True
1     True
2    False
3     True
dtype: bool

In [4]:
lst_mix = ['I am the Best', 22, True, 99.9]

pd.Series(lst_mix)

0    I am the Best
1               22
2             True
3             99.9
dtype: object

In [7]:
pd.Series(5, index=[0, 1, 2, 3, 4, 5])

0    5
1    5
2    5
3    5
4    5
5    5
dtype: int64

In [8]:
pd.Series(5, index=[0])

0    5
dtype: int64

In [9]:
pd.Series([num* 10 for num in range(10)])

0     0
1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
dtype: int64

In [10]:
[num*10 for num in range(10)]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [12]:
myphonebook = {
    "Basit": "0200304004",
    "Husnain": "49847394",
    "Yasir": "9483749387",
    "Shahzaib": "98457349"
}

pd.Series(myphonebook)

Basit       0200304004
Husnain       49847394
Yasir       9483749387
Shahzaib      98457349
dtype: object